@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Rubik:wght@400;700&family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  ol,ul {
    list-style: none;
  }

  @media (max-width: 768px) {
    ul {
      top: 5rem; /* Ajustar según tu diseño */
    }
  }

  


  .menu_hamburguesa {
    display: none;
  }

  html {
    scroll-behavior: smooth;
    @apply transition-colors duration-200 bg-white dark:bg-neutral-900;
  }

  section[id] {
    scroll-margin-top: 6.25rem;
  }

  .logo {
    @apply w-28 flex bg-transparent;
  }

  a {
    @apply decoration-0;
  }

  .nav-a {
    @apply font-font pb-3 text-slate-50;
  }

  .nav-a::after {
    content: ""; 
    background-color: #1d4ed8;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* height: .6rem; */
    @apply transition-all duration-300;

  }

  .nav-a:hover::after {
    width: 95%;
  }

  .blur-custom {
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -1;
    @apply absolute;
  }

  .webkit-effect {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    @apply transition-none !important;
  }
}
